@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&family=Inconsolata:wght@300&family=Josefin+Sans&family=Kdam+Thmor+Pro&family=Pacifico&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&family=Inconsolata:wght@300&family=Josefin+Sans&family=Kdam+Thmor+Pro&family=Pacifico&family=Roboto:wght@700&display=swap');

*{
  font-family:  monospace;
  overflow: auto;
 --width: 775px;
 --height: 1000px;
}
#root { 
  background-color: #fafcff;
  height: 1150px;
  margin-top: -10px;
  margin-right: -10px;
  margin-left: -10px;
}
.siteWrapper {
display: flex;
align-items:center;
}

.headerWrapper {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  font-size: 25px;
  color: rgb(24 74 133);
}
.logo { 
  height: 40px;
  margin-right: 10px;
}
.siteName {
  margin-left: 10px;
  width: 50%;
}
.formSection {
  border: solid 3px;
  height: var(--height);
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
}
.inputFields { 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.textBoxes {
  width: 500px;
  border-radius: 5px;
  border: solid;
  border-color: rgb(24 74 133);
}
.headingTitle {
  display: flex;
  justify-content: center;
  padding: 7px;
}
input::placeholder {
  color: rgb(0, 0, 0);
}
.textBoxes:focus {
  outline: rgb(255, 255, 255);
}
.jobInputFields {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}
.jobInputBoxes{
  width: 500px;
  border-radius: 5px;
  border: solid;
  border-color: rgb(24 74 133);
  resize: none;
}

#textArea {
  max-width: 500px;
  min-width: 500px;
  height: 100%;
}
.GeneralInfo{
  z-index: 1;
}
.GeneralInfoSection {
  display: flex;
  border: solid;
  position: absolute;
  margin-left: 625px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(184, 122, 122, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;justify-content: center; 
  width: var(--width);
  margin-right: 15px; 
  height: 1033px;
  gap: 5px  ;
  
} 
.cvTriangle { 
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 350px 350px 0 0;
border-color: #27425e transparent transparent transparent;
z-index: 1;
}
.cvDesignWrapper {
  margin-bottom: 1034px;
  margin-left: 62px;
}
.vertRectangle{
  position: absolute;
  height: 1034px;
  width: 300px;
  background-color: #ea7406;
  z-index: 0.5;
}
.upperThird {
  position: absolute;
  height: 20px;
  width: 477px;
  margin-top: 302px;
  margin-left: 300px;
  background-color: #27425e;
}
.lowerThird {
  position: absolute;
  height: 20px;
  width: 477px;
  margin-top: 550px;
  margin-left: 300px;
  background-color: #27425e;
}
.workExperienceWrapper {
  display: flex;

}
.workExperienceSectionWrapper {
    display: flex;
    border: solid;
    border-color: transparent;
    margin-left: 100px;
    width: var(--width);
    margin-right: 10px;
    height: 1020px;
}
.arrowFig {
    height: 60px;
    width: 64px;
    position:absolute;
    margin-left: 315px;
    margin-top: 30px;
}
.lowerThirdFoorter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-top: 50px;
  width: 1442px;
  background-color: #27425e;
  position: absolute;
  gap: 10px;
}
.nameField {
  color: #fafcff;
}
.githubLogo{
  height: 25px;
  width: 25px;
  margin-top: 3px;
}

#firstName, #lastName {
 display: block;
 color: #ea7406;
 font-size: 45px;
 font-weight: bold;
 font-family: 'Roboto', sans-serif;
}
.nameTitle {   
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-top: 100px;
  width: 300px;
}
#jobRole {
  margin-top: 10px;
  font-size: 20px;
}
.cvSubHeadingWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 470px;
  margin-top: 350px;
  width: 240px;
  height: 150px;
  position: absolute;
  font-size: 14px;
  overflow-wrap: break-word;
  color: white;
}
.cvSubHeadingTitle {
  font-size: 18px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.subheadingShape {
  width: 45px;
  border: solid;
  border-width: 3px;
  border-color: #27425e;
  margin-top: 7px;
  margin-bottom: 7px;
}
#textAreaAddress{
  resize: none;
}
.educationField{
  margin-right: 470px;
  margin-top: 500px;
  width: 240px;
  height: 150px;
  color: white;
  position: absolute;
}
.cvSubHeadingTitleRightSide{
  font-size: 18px;
  color: #27425e;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.profileField {
  margin-top: 335px;
  margin-right: 40px;
  position: absolute;
}
.subheadingShapeRight{
  width: 45px;
  border: solid;
  border-width: 3px;
  border-color: #ea7406;
  margin-top: 7px;
  margin-bottom: 7px;
}
.experienceField {
  margin-top: 583px;
  margin-right: 10px;
  position: absolute;
}
.profileInput {
  position: absolute;
  margin-left: 930px;
  margin-top: 20px;
  z-index: 1;
  max-width: 410px;
  max-height: 160px;
  overflow-wrap: break-word;
}
#profileInputBox {
  height: 100px;
}